.env
venv
node_modules
.claude
.env.development
.env.*
.env.development.local
.idea
.env.local
.env.production
.env.test
.env.test.local
.gitmodules
.npmrc
yarn.lock
pnpm-lock.yaml
package.json
package-lock.json
bunfig.toml
.yarnrc
.yarnrc.yml
media/
__pycache__/
*.py[cod]
*$py.class